<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
       <form [formGroup]="signUpform" (ngSubmit)="onsignup()">
         <div class="form-group">
           <label for="username">UserName*</label>
           <input type="text" formControlName="username" class="form-control" id="username">

           <span class="text-danger" *ngIf="f['username'].touched && f['username'].hasError('required')">
              username is required field
           </span>
           
           <ng-container *ngIf="f['username'].dirty">
           <span class="text-danger" *ngIf=" f['username'].hasError('minlength')">
              The minimum length should be {{f['username'].errors?.['minlength'].requiredLength}} and the acutuallength is {{f['username'].errors?.['minlength'].actualLength}}
           </span>

           <span class="text-danger" *ngIf=" f['username'].hasError('maxlength')">
            The maximum length should be {{f['username'].errors?.['maxlength'].requiredLength}} and the acutuallength is {{f['username'].errors?.['maxlength'].actualLength}}
           </span>

           <span class="text-danger" *ngIf="f['username'].hasError('pattern')">
                invalid username must contain only alphabets
           </span>

           <span class="text-danger" *ngIf="f['username'].hasError('noSpaceBar')">
             {{f['username'].errors?.['noSpaceBar']}}
           </span>
           </ng-container>
         </div>

         <div class="form-group">
            <label for="email">Email*</label>
            <input type="text" class="form-control" formControlName="email">
            <span class="text-danger" *ngIf="f['email'].touched && f['email'].hasError('required')">
                Email is required field
            </span> 

            <span class="text-danger" *ngIf="f['email'].dirty && f['email'].hasError('pattern')">
                Email Id must be like this (jhon@gmail.com)
            </span>
         </div>

         <div class="form-group">
           <label for="empid">EmpId*</label>
           <input type="text" placeholder="E123" class="form-control" formControlName="empid">

           <span class="text-danger" *ngIf="f['empid'].touched && f['empid'].hasError('required')">
               EmpId is a required field
           </span>

           <span class="text-danger" *ngIf="f['empid'].dirty && f['empid'].hasError('invalidempId')">
               {{f['empid'].errors?.['invalidempId']}}
           </span>
         </div>
         
         <h5>Gender</h5>
         <div class="form-group">
           <label class="mr-2" [for]="gender" *ngFor="let gender of genderArr">
              <input type="radio" formControlName="gender" [value]="gender" [id]="gender">{{gender}}
           </label>
         </div>

        <div formArrayName="skills">
            <div class="row" *ngFor="let skill of skillsArr.controls; let i=index">
              <div class="col-10">
                 <div class="form-group">
                   <input [formControlName]="i" type="text" class="form-control">
                 </div>
              </div>
              <div class="col-2" *ngIf="i > 0">
                 <button (click)="onskillremove(i)" type="button" class="btn btn-sm btn-danger">Remove</button>
              </div>
            </div>
            <button *ngIf="skillsArr.length < 5 ; else maxskillreach" (click)="onskilladd()" type="button" class="btn btn-sm btn-primary">Add Skills</button>
            <ng-template #maxskillreach>
               <span class="text-danger">You Can add upto 5 skills</span>
            </ng-template>
        </div>
        
        <div class="row">
             <div class="col-md-6">
               <h5>Current Address </h5>
               <div formGroupName="currentaddress">
               <div class="form-group">
                <label for="country">Country*</label>
                <select formControlName="country" class="form-control" id="Ccountry">
                    <option [value]="countryinfo.Country" *ngFor="let countryinfo of countryarr">{{countryinfo.Country}}</option>
                </select>
               </div>
             
               <div class="form-group">
                 <label for="state">state*</label>
                 <input type="text" formControlName="state" class="form-control">
               </div>

               <div class="form-group">
                <label for="city">city*</label>
                <input type="text" formControlName="city" class="form-control">
              </div>

              <div class="form-group">
                <label for="pincode">pincode*</label>
                <input type="text" formControlName="pincode" class="form-control">
              </div>
             </div>
             </div> 
             <div class="col-md-6">
                <h5>Permanent Address </h5>
                <div formGroupName="Permanentaddress">
                    <div class="form-group">
                     <label for="country">Country*</label>
                     <select formControlName="country" class="form-control" id="Pcountry">
                         <option [value]="countryinfo.Country" *ngFor="let countryinfo of countryarr">{{countryinfo.Country}}</option>
                     </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="state">state*</label>
                        <input type="text" formControlName="state" class="form-control">
                      </div>
       
                      <div class="form-group">
                       <label for="city">city*</label>
                       <input type="text" formControlName="city" class="form-control">
                     </div>
       
                     <div class="form-group">
                       <label for="pincode">pincode*</label>
                       <input type="text" formControlName="pincode" class="form-control">
                     </div>

                </div>
             </div> 
             <div class="col-md-12">
              <label for="isAddSame">
                 <input type="checkbox" formControlName="isAddSame"> current address and Permanentaddress are same
              </label>
             </div>
        </div>
         
        <div class="form-group">
           <label for="password">Password*</label>
           <input type="text" class="form-control" formControlName="password">
          
           <span class="text-danger" *ngIf="f['password'].touched && f['password'].hasError('required')">
               Password is required field 
           </span>

           <span class="text-danger" *ngIf="f['password'].dirty && f['password'].hasError('pattern')">
                password must contain 1 uppercaseletter 1 lowercaseletter 1 specialcharacter 1 number
           </span>
           
        </div>

        <div class="form-group">
            <label for="confirmpassword">Confirm Password*</label>
            <input type="text" class="form-control" formControlName="confirmpassword">
            <span class="text-danger" *ngIf="f['confirmpassword'].touched && f['confirmpassword'].hasError('required')">
               confirmpassword  is required field 
            </span>

           <span class="text-danger" *ngIf="f['password'].value !== f['confirmpassword'].value && f['confirmpassword'].dirty">
              password and confirmpassword must be same 
           </span>
         </div>

         <button [disabled]="!signUpform.valid" class="btn btn-sm btn-primary">SignUp</button>
         
       </form>
    </div>
    <div class="col-md-2">
      <!-- {{signUpform.value | json}} -->
    </div>
  </div>
</div>